<html>
	<body>
		<div class="main-nav">
			<ul class="nav">
				<li class="logo"><a href="#">Strategyzer</a></li>
				<li><a href="#">Build</a></li>
				<li><a href="#">Learn</a></li>
				<div class="controls-user">
					<li><a href="#">Log In</a></li>
					<li><a href="#" class="btn">Sign Up</a></li>
				</div>
			</ul>
		</div>

		<div class="main-nav v2">
			<ul class="nav-2">
				<li class="logo"><a href="#">Strategyzer</a></li>
				<li><a href="#">Build</a></li>
				<li><a href="#">Learn</a></li>
				<div class="controls-user">
					<li><a href="#">Log In</a></li>
					<li><a href="#" class="btn">Sign Up</a></li>
				</div>
			</ul>
		</div>

		<div class="main-nav v3">
			<ul class="nav-3">
				<li class="logo"><a href="#">Strategyzer</a></li>
				<li><a href="#" class="selected">Build</a></li>
				<li><a href="#">Learn</a></li>
				<div class="controls-user">
					<li><a href="#">Log In</a></li>
					<li><a href="#" class="btn">Sign Up</a></li>
				</div>
			</ul>
		</div>
<!-- 		<div class="container">
			<section class="grid">
				<article class="grid__1col">
					<div class="grid__1col">
						<a href="#" class="btn btn-blue">Blue Button</a>
						<a href="#" class="btn btn-yellow">Yellow Button</a>
						<a href="#" class="btn btn-black">Black Button</a>
						<a href="#" class="btn btn-white">White Button</a>
						<a href="#" class="btn btn-orange">Orange Button</a>
						<a href="#" class="btn btn-green">Green Button</a>
					</div>
				</article>
				<article class="grid__1col">
					<div class="grid__1col--left"></div>
					<div class="grid__1col--right"></div>	
				</article>
			</section>
		</div> -->

	</body>
</html>