<html>
	<body>
		<div class="container-section v4">
			<div class="main-nav v3">
				<div class="logo"><a href="#"><img src="/assets/strat-logo-500.png" alt="Strategyzer"></a></div>
				<ul class="nav v3">
					<li><a href="#" class="selected">Learn</a></li>
					<li><a href="#">Build</a></li>
					<div class="controls-user">
						<li><a href="#" class="btn">Sign Up</a></li>
	 					<li><a href="#">Log In</a></li>
					</div>
				</ul>
			</div>
			<div class="sub-nav v4">
					<ul class="sub v4">
						<li><a href="#">Overview</a></li>
						<li><a href="#">Instructors</a></li>
						<li><a href="#">Preview</a></li>
						<div class="controls-user">
							<li><a href="#" class="btn btn-yellow">Take this course</a></li>
						</div>
					</ul>
			</div>
		</div>

<!-- 		<div class="container-section v2">
			<div class="main-nav v5">
				<div class="logo"><a href="#"><img src="/assets/strat-logo-500.png" alt="Strategyzer"></a></div>
				<ul class="nav v5">
					<li><a href="#">Learn</a></li>
					<li><a href="#">Build</a></li>
					<div class="controls-user">
						<li><a href="#" class="btn">Sign Up</a></li>
	 					<li><a href="#">Log In</a></li>
					</div>
				</ul>
			</div>
			<div class="sub-nav v3">
				<ul class="sub v3">
					<li><a href="#">Overview</a></li>
					<li><a href="#">Instructors</a></li>
					<li><a href="#">Preview</a></li>
					<div class="controls-user">
						<li><a href="#" class="btn">Take this course</a></li>
					</div>
				</ul>
			</div>
		</div>


		<div class="container-section v3">
			<div class="main-nav v4">
				<div class="logo"><a href="#"><img src="/assets/strat-logo-white-500.png" alt="Strategyzer"></a></div>
				<ul class="nav v4">
					<li><a href="#" class="selected">Learn</a></li>
					<li><a href="#">Build</a></li>
					<div class="controls-user">
						<li><a href="#" class="btn">Sign Up</a></li>
						<li><a href="#">Log In</a></li>
					</div>
				</ul>
			</div>
			<div class="sub-nav v2">
				<ul class="sub v2">
					<li><a href="#">Overview</a></li>
					<li><a href="#">Instructors</a></li>
					<li><a href="#">Preview</a></li>
					<div class="controls-user">
						<li><a href="#" class="btn">Take this course</a></li>
					</div>
				</ul>
			</div>
		</div>

		<div class="container-section v4">
			<div class="main-nav v2">
				<div class="logo"><a href="#"><img src="/assets/strat-logo-500.png" alt="Strategyzer"></a></div>
				<ul class="nav v2">
					<li><a href="#">Learn</a></li>
					<li><a href="#">Build</a></li>
					<div class="controls-user">
						<li><a href="#">Sign Up</a></li>
						<li><a href="#">Log In</a></li>
					</div>
				</ul>
			</div>
		</div>

		<div class="container-section v1">
			<div class="main-nav v0">
				<div class="logo"><a href="#"><img src="/assets/strat-logo-500.png" alt="Strategyzer"></a></div>
				<ul class="nav v1">
					<li><a href="#">Learn</a></li>
					<li><a href="#">Build</a></li>
					<div class="controls-user">
						<li><a href="#" class="btn">Sign Up</a></li>
	 					<li><a href="#">Log In</a></li>
					</div>
				</ul>
			</div>
			<div class="sub-nav v1">
				<ul class="sub v1">
					<li><a href="#">Overview</a></li>
					<li><a href="#">Instructors</a></li>
					<li><a href="#">Preview</a></li>
					<div class="controls-user">
						<li><a href="#" class="btn">Take this course</a></li>
					</div>
				</ul>
			</div>
		</div> -->

		<div class="container">
			<section class="grid">
				<article class="grid__1col">
					<ul>
						<li><a href="#" class="btn btn-blue">Blue Button</a></li>
						<li><a href="#" class="btn btn-yellow">Yellow Button</a></li>
						<li><a href="#" class="btn btn-black">Black Button</a></li>
						<li><a href="#" class="btn btn-white">White Button</a></li>
						<li><a href="#" class="btn btn-orange">Orange Button</a></li>
						<li><a href="#" class="btn btn-green">Green Button</a></li>
					</ul>
				</article>
			</section>
		</div>
		
	</body>
</html>